name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'

      - name: Run Tests
        run: |
          go test -v ./test -covermode=count -coverpkg=./... -coverprofile=coverage.txt
        env:
          SECURE_PROXY: ${{ secrets.SECURE_PROXY }}
          NON_SECURE_PROXY: ${{ secrets.NON_SECURE_PROXY }}
          SOCKS5_PROXY: ${{ secrets.SOCKS5_PROXY }}

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Noooste/azuretls-client